<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.shirlaw.SyncS3.agent</string>
        <key>WorkingDirectory</key>
        <string>/Users/mshirlaw/Documents</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/aws</string>
            <string>s3</string>
            <string>sync</string>
            <string>s3sync</string>
            <string>s3://shirlaw-storage/s3sync</string>
            <string>--delete</string>
        </array>
        <key>StartInterval</key>
        <integer>5</integer>
        <key>StandardOutPath</key>
        <string>/tmp/sync_s3.log</string>
        <key>StandardErrorPath</key>
        <string>/tmp/sync_s3.log</string>
	</dict>
</plist>