"*":
  core:
    customFileTypes:
      "text.html.basic": [
        "tt"
      ]
    disabledPackages: [
      "whitespace"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "atom-dark-syntax"
    ]
  editor:
    fontSize: 13
    showInvisibles: true
    tabLength: 4
    tabType: "hard"
  linter: {}
  "linter-perlcritic": {}
  "linter-ui-default":
    panelHeight: 69
  welcome:
    showOnStartup: false
